.TempTxt{
    margin : 0 0 5px 0;
    color: rgb(255, 99, 132);
}

.Humidtxt{
    margin : 0 0 5px 0;
    color: rgb(53, 162, 235);
}

.colunasPeriodo{
    grid-template-columns: repeat(2, 1fr);
}

.tamanhoGrafico{
    height: 520px; /* 400px + 30% = 520px */
}